{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <head>
    <meta charset="UTF-8">
    {% translate "relay" context "noun" as m %}
    <title>{% block title %}{{ m|title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{% static 'css/pico.classless.yellow.min.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><strong><a href="{% url 'home' %}">📬 {{ m|title }}</a></strong></li>
        </ul>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'domains:dashboard' %}">{% translate "dashboard"|capfirst %}</a></li>
            <li><a href="{% url 'domains:domain_list' %}">{% translate "domains"|capfirst context "noun" %}</a></li>
            <li>
              <a href="{% url 'accounts:credential_list' %}">{% translate "credentials"|capfirst context "noun" %}</a>
            </li>
            <li><a href="{% url 'domains:test_email' %}">{% translate "test email"|capfirst %}</a></li>
            <li><a href="{% url 'mail:message_log' %}">{% translate "message log"|capfirst %}</a></li>
          {% endif %}
        </ul>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit">{% translate "logout"|capfirst context "verb" %}</button>
              </form>
            </li>
          {% else %}
            <li>
              <a href="{% url 'accounts:login' %}" role="button">{% translate "login"|capfirst context "noun" %}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    <footer class="container">
      <small>
        <a href="{% url 'legal:imprint' %}">{% translate "imprint"|capfirst %}</a> ·
        <a href="{% url 'legal:terms' %}">{% translate "terms of service"|title %}</a> ·
        <a href="{% url 'legal:privacy' %}">{% translate "privacy policy"|title %}</a>
      </small>
    </footer>
  </body>
</html>
