{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "new credential"|title %} — {{ m|title }}{% endblock %}
{% block content %}
  <h2>{% translate "new credential"|title %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "create"|capfirst context "verb" %}</button>
    <a
      href="{% url 'accounts:credential_list' %}"
      role="button"
      class="outline"
    >{% translate "cancel"|capfirst context "verb" %}</a>
  </form>
{% endblock %}
