{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "add domain"|title context "noun" %} — {{ m|title }}{% endblock %}
{% block content %}
  <h2>{% translate "add domain"|title context "noun" %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "add domain"|title context "noun" %}</button>
    <a
      href="{% url 'domains:domain_list' %}"
      role="button"
      class="outline"
    >{% translate "cancel"|capfirst context "verb" %}</a>
  </form>
{% endblock %}
