{% load abstract i18n %}
{% if breadcrumbs %}
  <nav class="breadcrumb" aria-label='{% translate "breadcrumb"|capfirst %}'>
    <ol>
      {% for item in breadcrumbs %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
            <span aria-current="page">{{ item.title }}</span>
          {% endif %}
        </li>
        {% if not forloop.last %}
          <li aria-hidden="true">
            {% tabler name="chevron-right" size=None class="icon-sm" data_rtl_flip=True %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
