{% load i18n %}
{% if breadcrumbs %}
  <nav class="breadcrumb" aria-label='{% translate "Breadcrumb"|capfirst %}'>
    <ol>
      {% for item in breadcrumbs %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
            <span aria-current="page">{{ item.title }}</span>
          {% endif %}
        </li>
        {% if not forloop.last %}
          <li aria-hidden="true">
            <i data-lucide="chevron-right" data-rtl-flip class="icon-sm"></i>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
